.gallery-wrapper{
    scroll-snap-type: y mandatory;
    background: linear-gradient(90deg, rgba(18, 18, 19), rgba(255,0,0,0) 70.71%),
        linear-gradient(257deg, rgba(102, 102, 107), rgba(0,255,0,0) 70.71%),
        linear-gradient(100deg, rgba(207, 211, 214), rgba(0,0,255,0) 70.71%);
    /* background: linear-gradient(90deg,rgb(18, 18, 19),rgb(102, 102, 107),rgb(207, 211, 214)); */
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
}

section > div {
    border-radius: 15px;
    width: 500px;
    height:560px;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    overflow: hidden;
    
}
  
.gallery-wrapper img {
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    position: center;
    border-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: max-content;
    height: 100%;
}
.gallery-wrapper h2 {
    width: 40px;
    height: 40px;
    margin: 0;
    left: calc(50% + 50px);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute;
}
.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
}