.home{
    margin-top: 80px;
    height: 3200px;
}
.home-brewery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 1200px;
    background-image: url('../../../images/bar.png');
}
h1{
    margin: 0 auto;
}
p{
    font-size: 24px;
    margin-bottom: 150px;
}
p,h1{
    padding: 20px;
    background: rgba(0, 0, 0, 0.617);
    width: 70%;
    border-radius: 15px;
}
.home-reposts-section{
    height: 800px;
    background: var(--RegentGray);
}
.draggable-cards{
    width: 40%;
    height: 40%;
}