.home{
    height: 1200px;
    background-image: url('../../../images/barrels.jpg');
    background-size: cover;
}
.img-logo-wrapper{
    margin: 0 auto;
    padding: 10px 8px;
    width: 300px;
    background: rgb(255, 255, 255);
    height: 180px;
    border-radius: 15px;
    box-shadow: rgba(212, 212, 217, 0.38) 0px 7px 27px 0px;
}
.home img{
    margin-top: 20px;
    width: 300px;
    height: 140px;
}
.brewery-span-wrapper{
    margin: 80px auto;
    background: rgba(3, 3, 3, 0.579);
    width: 80%;
    border-radius: 15px;
    padding: 8px 0;
    text-align: left;
    box-shadow: rgba(44, 44, 44, 0.626) 0px 7px 29px 0px;
}
.brewery-span{
    /* font-weight: 600; */
    padding: 40px 10px;
    line-height: 50px;
    font-size: 22px;
   
}
