body{
  background: #ffffff;
  
}
*{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  background-position: center;
  background-size: cover;
  --RegentGray: #8f9ca4;
  --borderRadius: 15px
}
.App {
  max-width: 1440px;
  width: 100%;
  /* height: 1000px; */
  margin: 0 auto;
  background: var(--background);
  text-align: center;
  color: white;
}
