body{
  background: #b1bec8;
}
.App {
  max-width: 1440px;
  width: 100%;
  height: 2000px;
  margin: 0 auto;
  /* background: #8f9ca4; */
  background: white;
  text-align: center;
  color: white;
}
