.contacts-wrapper {
    margin: 80px auto;
    background-image: url('../../../images/formBG.png');
}
.contact-wrapper{
    margin: 0px auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.617);
    border-radius: 15px;
    width: 100%;
}
.contact-info{
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 50%;
}
.contact-links{
    margin-top: 20%;
}
.contact-avatar{
    margin: 25px 0px;
    width: 20%;
    height: 90%;
    border-radius: 15px;
}
.contact-wrapper button{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
}
.gmail-button{
    margin: 0 10%;
    background-image: url('../../../images/gmail.png');
}
.telegram-button{
    background-image: url('../../../images/telegram.png');
}
.vk-button{
    background-image: url('../../../images/vk.png');
}
@media screen and (max-width: 425px){
    /* .contact-wrapper button{
        width: 50px;
        height: 50px;
    } */
    .contact-info{
        font-size: 21px;
    }
    /* .contact-avatar{
        width: 30%;
        height: 90%;
    } */
}
@media screen and (max-width: 768px){
    .contact-avatar{
        width: 40%;
        height: 90%;
    }
    .contact-wrapper button{
        width: 35px;
        height: 35px;
    }
}