.nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding: 10px 0;
    max-width: 1440px;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid var(--RegentGray);
    z-index: 99;
    background: white;
  }
  .ant-avatar{
    border: 3px solid var(--RegentGray);
    
  }
  .ant-avatar.ant-avatar-icon{
    background: transparent;
    float: right;
  }
  .progress-bar {
    position: fixed;
    margin-top: 110px;
    max-width: 1440px;
    width: 100%;
    /* top: 0; */
    left: auto;
    right: auto;
    height: 7px;
    background: var(--RegentGray);
    transform-origin: 0%;
  }